<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="/js/vendor/jquery-1.11.2.js"></script>
    <script src="/js/vendor/underscore.js"></script>
    <script src="/js/vendor/backbone.js"></script>
    <script src="/js/vendor/backbone.localStorage.js"></script>

    <script src="/js/vendor/bootstrap.js"></script>

    <script src="/js/myapp_1.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>

    <div class="container">
      <h1>Backbone study</h1>
      <nav class="custom-navbar navbar navbar-default" data-navbar="">
        <ul class="nav navbar-nav">
          <li data-link-holder="home"><a href="#">Home</a></li>
          <li data-link-holder="two"><a href="#test2">two</a></li>
          <li data-link-holder="three"><a href="#test3">three</a></li>
        </ul>
      </nav>
    </div>

    <div class="hidden" data-page="three">
      <div class="container"><h2>Test 3</h2></div>
    </div>
    <div class="hidden" data-page="two">
      <div class="container"><h2>Test 2</h2></div>
    </div>
    <div id="notes-wrap" class="hidden" data-page="home">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <form data-note-form="">
              <ul>
                <li class="form-group">
                  <input type="text" class="form-control" placeholder="Title" data-note-title="">
                </li>
                <li class="form-group">
                  <textarea class="form-control" placeholder="Note content" data-note-content=""></textarea>
                </li>
                <li>
                  <button id="new-note" type="button" class="btn btn-primary" data-new-note="">Add note</button>
                </li>
              </ul>
            </form>
          </div>
          <div class="col-xs-6">
            <ul class="list-group notes-list" data-notes-list=""></ul>
          </div>
        </div>
      </div>
    </div>

    <script id="note-template" type="text/template">
      <a href="#" data-remove-note="" alt="Delete note" class="control-btn glyphicon glyphicon-remove"></a>
      <a href="#" data-edit-note="" alt="Edit note" class="control-btn glyphicon glyphicon-edit"></a>
      <span class="title"><%- title %></span>
      <span class="note"><%- content %></span>
    </script>
    <script id="note-edit-template" type="text/template">
      <ul class="form-list">
        <li class="form-group">
          <input type="text" class="form-control" placeholder="Title" data-note-title="" value="<%- title %>">
        </li>
        <li class="form-group">
          <textarea class="form-control" placeholder="Note content" data-note-content=""><%- content %></textarea>
        </li>
        <li class="clearfix">
          <button type="button" class="btn btn-primary" data-update-note="">Update note</button>
          <button type="button" class="btn btn-default pull-right" data-cancel-update="">Cancel</button>
        </li>
      </ul>
    </script>
    <script id="error-template" type="text/template">
      <span class="error-text" data-error-text=""><%= text %></span>
    </script>


  </body>
</html>